# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General settings ===

VERSION=
CONFIG_MODE=


# === Bot settings ===

ACCESS_TOKEN=
CLIENT_SECRET=
BOT_PREFIX=
BOT_SITE_URL=
DISCORD_WEBHOOK_BUGS=
DISCORD_WEBHOOK_SUGGESTIONS=
DEV_NICK=


# === Database settings ===

DATABASE_URL=
REDIS_URL=


# === Logging settings ===

LOG_LEVEL=


# === API settings ===

API_ANALYTICS_URL=
API_ANALYTICS_KEY=
API_BUGSNAG_KEY=
API_COLOR_URL=
API_CRYPTO_URL=
API_CRYPTO_KEY=
API_CURRENCY_URL=
API_CURRENCY_KEY=
API_DICIO_URL=
API_MATH_URL=
API_TRANSLATE_URL=
API_TWITCH_URL=
API_WEATHER_KEY=
