# bot
aiohttp==3.7.4
bugsnag==4.0.3
redis==3.5.3
git+git://github.com/leandcesar/TwitchIO.git@master#egg=TwitchIO
# apis
pyowm==2.10.0
# database
asyncpg==0.22.0
tortoise-orm==0.17.2
# utils
emoji==1.2.0
python-dateutil==2.8.1
Unidecode==1.1.1