# bobotinho/
aiohttp==3.6.2
twitchio==1.2.3
# bobotinho/apis
google-trans-new==1.1.9
pyowm==2.10.0
# bobotinho/database
asyncpg==0.22.0
tortoise-orm==0.17.2
# bobotinho/utils
python-dateutil==2.8.1
Unidecode==1.1.1